*{
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
    background-color: #86e2d5;
}
#main{
    margin-left: 5vw;
    margin-top: 10vh;
}
li{
    display: inline-block;
    background-size: 100%;
    vertical-align: top;
}
.li3{
    width: 30vw;
    height: 30vw;
}
.li4{
    width: 22.5vw;
    height: 22.5vw;
}
.li5{
    width: 18vw;
    height: 18vw;
}
img{
    width: 100%;
}
.whole{
    color: #ffffff;
    background-color: #03c9a9;
    width: 50vw;
    margin: 10vh auto;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    font-size: 30px;
}
.mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    top: 0;
    left: 0;
}
.view{
    position: absolute;
    width: 96vw;
    height: 96vw;
    top: 5vw;
    left: 2vw;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}
.view>div{
    margin-top: 10vh;
}